<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Illustration -->
      <a href="#home"><img width="100px" height="50px" src="assets/img/alnet.jpeg"></a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="#main-sec">Home</a></li><!--
   --><li><a href="#services-sec">Services</a></li><!--
   --><li><a href="#about-sec">About</a></li><!--
   --><li><a href="#contact-sec">Contact</a></li>
    </ul>
  </div>
</nav>


<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
  <span class="icon icon-bars overlay"></span>
</div>


<div class="overlay-menu">
  <ul id="menu">
      <li><a href="#main-sec">Home</a></li>
      <li><a href="#services-sec">Services</a></li>
      <li><a href="#about-sec">About</a></li>
      <li><a href="#contact-sec">Contact</a></li>
    </ul>
</div>
