<!--ABOUT SECTION-->
<section class="for-full-back color-bg-one" id="about-sec">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-8 col-md-offset-2 ">
              <h1><i class="fa fa-microphone faa-pulse animated  "></i>About</h1>
          </div>
          <div class="row text-center">
              <div class="col-md-8 col-md-offset-2 ">
                  <h4>
                      <strong>AlNET Solutions is an IT Firm based in Ghana and a consulting-oriented company, that intends to fill in the market need for a professional and customer-focused Information Technology Company.
                      </strong>
                  </h4>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="for-full-back color-white" id="about-team">
  <div class="container">
      <div class="row text-center g-pad-bottom">
          <div class="col-md-8 col-md-offset-2 ">
              <h3>OUR TEAM PROFILE</h3>
              <h4>Our team also provides personal computer operating system imaging and application setup and support, including hardware installation and connectivity to the network.
              </h4>
          </div>

      </div>
      <div class="row text-center g-pad-bottom">
          <div class="col-md-12 ">
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="team-member">
                      <img src="assets/img/team/5.jpeg" alt="">
                      <h3><strong>SHERIFF </strong></h3>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="team-member">
                      <img src="assets/img/team/6.jpeg" alt="">
                      <h3><strong>SHERIFF BARROW </strong></h3>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="team-member">
                      <img src="assets/img/team/joseph.jpeg" alt="">
                      <h3><strong>JOSEPH DICKSON </strong></h3>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="team-member">
                      <img src="assets/img/team/4.png" alt="">
                      <h3><strong>JHON DEO ALEX </strong></h3>
                  </div>
              </div>





          </div>
      </div>
      <div class="row g-pad-bottom">
          <div class="col-md-6">
              <h3>Break Fix:</h3>
              <p>
                AlNET Solutions provide managed IT services that include upgrades, or installation of systems, components, peripheral equipment, networking, hardware, and software.
                We have resources readily available, fully equipped with all the tools and required skill sets.
              </p>
          </div>
          <div class="col-md-6">
              <h3>IMAC (INSTALL MOVE ADD CHANGE):</h3>
              <p>
                In this modern technology period, the information technology sector is identified for its quick revolution, upgradation, reconfiguration, regular modification of IT systems, and physical relocation of its equipment to fulfill operational requirements.
              </p>
          </div>
      </div>

  </div>
</section>
<!--END ABOUT SECTION-->

<!--PRICE SECTION-->
<section id="price-sec">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-12 ">
              <div class="col-md-3">
                  <ul class="plan">
                      <li class="plan-head c-b">ROUTER INSTALL</li>
                      <li class="main-price">&#162;200 only</li>
                      <li><strong>12</strong> Month support plan</li>
                      <li><strong>52</strong> spare parts support</li>
                      <li><strong></strong> servicing</li>
                      <li><strong>Free</strong> Support</li>
                      <li class="bottom">
                          <a href="#" class="btn btn-danger">Read More</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <ul class="plan">
                      <li class="plan-head">Hardware & Software Install</li>
                      <li class="main-price">&#162;199 only</li>
                      <li><strong>12</strong> Month warrant</li>
                      <li><strong>Software</strong> Updates</li>
                      <li><strong>500 GB</strong> Space for backup</li>
                      <li><strong>Free</strong> Support</li>
                      <li class="bottom">
                          <a href="#" class="btn btn-primary">Read More</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <ul class="plan">
                      <li class="plan-head c-v">Data Center Cabling</li>
                      <li class="main-price">&#162;299 only</li>
                      <li><strong>12</strong> Support plan</li>
                      <li><strong>12</strong> Months Free backups</li>
                      <li><strong>500 GB</strong> Space</li>
                      <li><strong>Free</strong> Support</li>
                      <li class="bottom">
                          <a href="#" class="btn btn-success">Read More</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <ul class="plan">
                      <li class="plan-head c-a">Servers Rack/Stack & Configurations</li>
                      <li class="main-price">&#162;399 only</li>
                      <li><strong>12</strong> Free vulnerability checks</li>
                      <li><strong>52</strong> Emails</li>
                      <li><strong>50 GB</strong> Space</li>
                      <li><strong>Free</strong> Support</li>
                      <li class="bottom">
                          <a href="#" class="btn btn-default">Read More</a>
                      </li>
                  </ul>
              </div>

          </div>
      </div>


  </div>
</section>
<app-services></app-services>
<!-- END PRICE SECTION-->
