<!--ABOUT SECTION-->
<section class="for-full-back color-bg-one" id="about-sec">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-8 col-md-offset-2 ">
              <h1><i class="fa fa-microphone faa-pulse animated  "></i>About</h1>
          </div>
          <div class="row text-center">
              <div class="col-md-8 col-md-offset-2 ">
                  <h4>
                      <strong>AlNET Solutions is an IT Firm based in Ghana and a consulting-oriented company, that intends to fill in the market need for a professional and customer-focused Information Technology Company.
                      </strong>
                  </h4>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="for-full-back color-white" id="about-team">
  <div class="container">
      <div class="row text-center g-pad-bottom">
          <div class="col-md-8 col-md-offset-2 ">
              <h3>OUR TEAM PROFILE</h3>
              <h4>Our team also provides personal computer operating system imaging and application setup and support, including hardware installation and connectivity to the network.
              </h4>
          </div>

      </div>
      <div class="row text-center g-pad-bottom">
          <div class="col-md-12 ">
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="team-member">
                      <img src="assets/img/team/5.jpeg" alt="">
                      <h3><strong>SHERIFF SHERIFF </strong></h3>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="team-member">
                      <img src="assets/img/team/6.jpeg" alt="">
                      <h3><strong>SHERIFF SHERIFF </strong></h3>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="team-member">
                      <img src="assets/img/team/joseph.jpeg" alt="">
                      <h3><strong>JOSEPH DICKSON </strong></h3>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="team-member">
                      <img src="assets/img/team/4.png" alt="">
                      <h3><strong>JHON DEO ALEX </strong></h3>
                  </div>
              </div>





          </div>
      </div>
      <div class="row g-pad-bottom">
          <div class="col-md-6">
              <h3>Lorem ipsum  dolor sit amet</h3>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                     Lorem ipsum dolor sit amet, consectetur nec nisl odio
                   Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                   Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
              </p>
          </div>
          <div class="col-md-6">
              <h3>Lorem ipsum  dolor sit amet</h3>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                     Lorem ipsum dolor sit amet, consectetur nec nisl odio
                   Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                   Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
              </p>
          </div>
      </div>

  </div>
</section>
<!--END ABOUT SECTION-->

<!--PRICE SECTION-->
<section id="price-sec">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-12 ">
              <div class="col-md-3">
                  <ul class="plan">
                      <li class="plan-head c-b">BASIC PLAN</li>
                      <li class="main-price">$99 only</li>
                      <li><strong>12</strong> Accounts</li>
                      <li><strong>52</strong> Emails</li>
                      <li><strong>50 GB</strong> Space</li>
                      <li><strong>Free</strong> Support</li>
                      <li class="bottom">
                          <a href="#" class="btn btn-danger">Read More</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <ul class="plan">
                      <li class="plan-head">SIMPLE PLAN</li>
                      <li class="main-price">$199 only</li>
                      <li><strong>12</strong> Accounts</li>
                      <li><strong>52</strong> Emails</li>
                      <li><strong>50 GB</strong> Space</li>
                      <li><strong>Free</strong> Support</li>
                      <li class="bottom">
                          <a href="#" class="btn btn-primary">Read More</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <ul class="plan">
                      <li class="plan-head c-v">VALUE PLAN</li>
                      <li class="main-price">$299 only</li>
                      <li><strong>12</strong> Accounts</li>
                      <li><strong>52</strong> Emails</li>
                      <li><strong>50 GB</strong> Space</li>
                      <li><strong>Free</strong> Support</li>
                      <li class="bottom">
                          <a href="#" class="btn btn-success">Read More</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <ul class="plan">
                      <li class="plan-head c-a">ADVANCE PLAN</li>
                      <li class="main-price">$399 only</li>
                      <li><strong>12</strong> Accounts</li>
                      <li><strong>52</strong> Emails</li>
                      <li><strong>50 GB</strong> Space</li>
                      <li><strong>Free</strong> Support</li>
                      <li class="bottom">
                          <a href="#" class="btn btn-default">Read More</a>
                      </li>
                  </ul>
              </div>

          </div>
      </div>


  </div>
</section>
<app-services></app-services>
<!-- END PRICE SECTION-->
