 <!--SERVICES SECTION-->
 <section class="for-full-back color-bg-one" id="services-sec">
  <link href="/assets/css/component.css" rel="stylesheet" />
  <div class="container">
      <div class="row text-center">
          <div class="col-md-8 col-md-offset-2 ">
              <h1><i class="fa fa-rocket faa-pulse animated  "></i>Services</h1>

          </div>
          <div class="row text-center">
              <div class="col-md-8 col-md-offset-2 ">
                  <h4>
                      <strong>AlNET Solutions Services are a professional and highly efficient team of seasoned IT outsourcing
                        professionals. When it comes to delivering IT Support for your company’s managed IT wants,
                        we have an efficient record for proficient delivery, and we know accurately what to do.
                      </strong>
                  </h4>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="for-full-back color-white " id="services-inner">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-12">
              <div class="col-md-3 ">
                  <div class="service-div">
                      <i class="fa fa-desktop fa-5x faa-vertical animated"></i>
                      <h4>Break Fix: </h4>
                      <p>
                        AlNET Solutions provide managed IT services that include upgrades, or installation of systems, components.
                      </p>
                  </div>
              </div>
              <div class="col-md-3 ">
                  <div class="service-div">
                      <i class="fa fa-flask fa-5x faa-ring animated"></i>
                      <h4>End User Computing: </h4>
                      <p>
                        We work as “Hands and Feet” for our prospects by providing guidance, recommendations, and support to our clients.
                      </p>
                  </div>
              </div>
              <div class="col-md-3 ">
                  <div class="service-div">
                      <i class="fa fa-plus fa-5x faa-float animated"></i>
                      <h4>Data Center: </h4>
                      <p>
                        AlNET Solution provides on-site Data Center hardware and Software installation services to our potential clients.
                      </p>
                  </div>
              </div>
              <div class="col-md-3 ">
                  <div class="service-div">
                      <i class="fa fa-credit-card fa-5x faa-shake animated"></i>
                      <h4>Site Surveys & Audits: </h4>
                      <p>
                        Whether you want site IT inventory or IT Audit or installation survey, we are readily available.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--END SERVICES SECTION-->
<!--STATS SECTION-->
<section>
  <div class="container">
      <div class="row ">
          <div class="col-md-3 ">
              <div class="stats-div">
                  <h3>5000+ </h3>
                  <h4>Projects</h4>
              </div>
          </div>


          <div class="col-md-3 ">
              <div class="stats-div">
                  <h3>4+ </h3>
                  <h4>Countries</h4>
              </div>

          </div>
          <div class="col-md-3 ">

              <div class="stats-div">
                  <h3>78+ </h3>
                  <h4>Offices</h4>
              </div>
          </div>
          <div class="col-md-3 ">
              <div class="stats-div">
                  <h3>2400+ </h3>
                  <h4>Clients</h4>
              </div>
          </div>
      </div>
  </div>
</section>
<app-contact></app-contact>
<!--END STATS SECTION-->
