<!--HOME SECTION-->
<div class="container" id="home">
  <div class="row text-center">
      <div class="col-md-12">
          <span class="head-main">AlNET Solutions</span>
          <h2 class="head-sub-main">Why AlNET Solutions IT Services?</h2>
          <h3 class="head-last">We ensure excellence and that we meet our valued client’s timelines.
             Our prime service is to provide the top and most cost-efficient solutions to our clients. Our key factors include.</h3>
      </div>
  </div>
</div>
<!--END HOME SECTION-->
